<div class="container mainContainer">
  <i class="fa fa-car" style="font-family: 'FontAwesome';"></i>
  <form [formGroup]="carProfileForm">
    <h4>Car Information:</h4>

    <div class="form-group row">
      <div class="col-sm-1"></div>
      <label for="make" class="col-sm-4 col-form-label">Make:</label>
      <div class="col-sm-4">
        <input type="text" formControlName="make" id="make" required class = "form-control"/>
        <div *ngIf = "make.invalid && make.touched" class = "alert alert-danger"> Make Is Required!
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1"></div>
      <label for="model" class="col-sm-4 col-form-label">Model:</label>
      <div class="col-sm-4">
        <input type="text" formControlName="model" id="model" required class = "form-control" />
        <div *ngIf = "model.invalid && make.touched" class = "alert alert-danger"> Model Is Required!
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1"></div>
      <label for="seats" class="col-sm-4 col-form-label"
        >Number of seats:</label
      >
      <div class="col-sm-4">
        <select formControlName="seats" id="seats"  class = "form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <p *ngIf="success != ''" class="success">{{ success }}</p>
      </div>
    </div>

    <button [disabled] = "make.invalid || model.invalid"
      type="submit"
      class="btn btn-primary myBtn"
      (click)="updatesCarInfo()"
    >
      Save
    </button>
  </form>
</div>
