
<div class="mainContainer">

    <i class="fa fa-user" style="font-family:'FontAwesome';"></i>

        <h4>Contact Information:</h4>
    <form #userForm="ngForm" (ngSubmit)="updatesContactInfo(userForm)">
        <div class="form-group row">
            <div class="col-sm-1"></div>
                <label for="f_name" class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-4">
                    <input type="text"
                    class="form-control"
                    id="f_name"
                    name="firstName"
                    [(ngModel)]=firstName
                    [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}"
                    value="{{ profileObject?.firstName }}"
                    #userFirstName="ngModel"
                    required>
                    <div class="invalid-feedback"[hidden]="!userFirstName.errors?.required"> First Name Required</div>
                </div>
        </div>

        <div class="form-group row">
                <div class="col-sm-1"></div>
            <label for="l_name" class="col-sm-4 col-form-label">Last Name:</label>
            <div class="col-sm-4">
                <input type="text"
                class="form-control"
                id="l_name"
                name="lastName"
                [(ngModel)]=lastName
                [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}"
                value="{{ profileObject?.lastName }}"
                #userLastName="ngModel"
                required>
                <div class="invalid-feedback"[hidden]="!userLastName.errors?.required"> Last Name Required</div>
            </div>
        </div>

        <div class="form-group row">
                <div class="col-sm-1"></div>
            <label for="user_email" class="col-sm-4 col-form-label">Email:</label>
            <div class="col-sm-4">
                <input type="email"
                class="form-control"
                id="user_email"
                required
                aria-describedby="emailHelp"
                [(ngModel)]=email
                [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
                value="{{ profileObject?.email }}"
                #userEmail="ngModel"
                name="email"
                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                <div class="invalid-feedback"[hidden]="!userEmail.errors?.required"> Email Required</div>
                <div class="invalid-feedback"[hidden]="!userEmail.errors?.pattern"> Email is not Valid</div>
            </div>
        </div>

        <div class="form-group row">
                <div class="col-sm-1"></div>
            <label for="phone" class="col-sm-4 col-form-label">Phone:</label>
            <div class="col-sm-4">
                <input type="text"
                class="form-control"
                id="phone"
                name="phone"
                required [(ngModel)]=phone
                [ngClass]="{'is-invalid':userPhone.errors && userPhone.touched}"
                value="{{ profileObject?.phoneNumber }}"
                #userPhone="ngModel"
                pattern="^((([0-9]{3}))|([0-9]{3}))[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4}$">
                <div class="invalid-feedback"[hidden]="!userPhone.errors?.required"> Phone Number Required</div>
                <div class="invalid-feedback"[hidden]="!userPhone.errors?.pattern"> Phone Number is not Valid</div>
                <p *ngIf="success != ''" class="success">{{success}}</p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary myBtn" [disabled]="!userForm.form.valid">Save</button>
    </form>
    </div>


