#gmap {
    height: 369px; 
}
table {
    width: 80%;
}
#map{
}
.col{
    margin-right: 3%;
}
.btn-outline-secondary{
    font-size:14px;
}
.col-lg-6 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}
table {
    width: 100%;
}
.timearrow {
    display: inline-block;
}
