<div class = "container">
    <br>
    <div class="row">
    <div class="col-lg-6 text-center">
      <h4>Directions</h4>
      <div #map id="gmap" class="img-responsive"></div>
    </div>
    </div>
    <br>
    <div class="col-lg-6 text-center">
      <h4>Drivers List</h4>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" (click)="sort('name')">
              Name
              <div *ngIf="sortOrderIsLow('name'); else second">
                <i class="fa fa-arrow-up"></i>
              </div>
              <ng-template #second>
                <div *ngIf="orderedBy==='name';">
                  <i class="fa fa-arrow-down"></i>
                </div>
              </ng-template>
            </th>
            <th scope="col" (click)="sort('distance')">
              Distance
              <div *ngIf="sortOrderIsLow('distance'); else second2">
                <i class="fa fa-arrow-up"></i>
              </div>
              <ng-template #second2>
                <div *ngIf="orderedBy==='distance';">
                  <i class="fa fa-arrow-down"></i>
                </div>
              </ng-template>
            </th>
            <th scope="col" (click)="sort('time')">
              Time
              <div *ngIf="sortOrderIsLow('time'); else second3">
                <i class="fa fa-arrow-up"></i>
              </div>
              <ng-template #second3>
                <div *ngIf="orderedBy==='time';">
                  <i class="fa fa-arrow-down"></i>
                </div>
              </ng-template>
            </th>
            <th scope="col">View Info</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let driver of drivers">
            <td>{{ driver.name }} </td>
            <td>{{ driver.distance }}</td>
            <td>{{ driver.duration }}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="addToModal(driver)">View</button></td>
          </tr>
        </tbody>
        <!-- <tbody id="output"></tbody> -->
        <tfoot>
          <tr>
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="5" [(page)]="page" [maxSize]="5"
              [boundaryLinks]="true"></ngb-pagination>
          </tr>
        </tfoot>
       </table>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title text-center" id="exampleModalLongTitle">Driver Details</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          
          <div class="container">
            <div id="driverDetails" class="table-responsive">
              <table id="driverDetailsTable" class="table table-boardered table-striped table-hover">
                
                  <!-- <tr id="driverDetailsHeaderRow" class="text-center">
                      <th style="width: 25%" id="dsHeader">Name</th>
                      <th style="width: 25%" id="dhHeader">Location</th>
                      <th style="width: 25%"id="bHeader">Email</th>
                      <th style="width: 25%"id="bHeader">Phone</th>
                  </tr>
                  <tr id="approvalStatusRow" class="text-center list-form">
                    <td id="nameid">{{driverName}}</td>
                    <td id="emailid">{{driverLocation}}</td>
                    <td id="phoneid">{{driverEmail}}</td>
                    <td id="phoneid">{{driverPhoneNumber}}</td>
                  </tr> -->
                  <tr id="driverName" class="text-center list-form">
                    <td id="namehead">Name</td>
                    <td id="nameid">{{driverName}}</td>
                  </tr>
                  <tr id="driverLocation" class="text-center list-form">
                    <td id="locationhead">Address</td>
                    <td id="locationid">{{driverLocation}}</td>
                  </tr>
                  <tr id="driverEmail" class="text-center list-form">
                    <td id="emailhead">Email</td>
                    <td id="emailid"><a href="mailto:{{driverEmail}}">{{driverEmail}}</a></td>
                  </tr>
                  <tr id="driverPhoneNumber" class="text-center list-form">
                    <td id="phonehead">Phone</td>
                    <td id="phoneid"><a href="tel:+{{driverPhoneNumber}}">{{driverPhoneNumber}}</a></td>
                  </tr>
              </table>
          </div>
          </div>

          </div>
          <div class="modal-footer">
            <div class="row text-center" style="width: 100%;">
              <div class="col" id="savediv">
                <button type="button" class="btn btn-success mr-auto btn-lg">Join Ride</button>
              </div>
              <div id="forthumb"></div>
              <div class="col">
                <button type="button" data-dismiss="modal" class="btn btn-warning btn-lg">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

